div{
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section.seccionuno{
    margin-bottom: 600px;
}
section.secciondos{
    margin-bottom: 600px;
}
div.divuno {
    text-align: center;
    font-size: 90px;
    line-height: 15.6px;
    display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
}
footer{
    text-align: center;
}
footer.footeruno{
transform: translate(-50px,200px);
}
footer.footerdos{
    text-align: center;
    transform: translate(-350px,-150px);
}
h1.folio{
    transform: translate(18px,0);
}
div.divdos{
    margin-left: 100px;
}
div.divtres{
    margin-left: 100px;
}
div.divcuatro{
    margin-left: 100px;
}
div.divcinco{
    margin-left: 100px;
}
div.divseis{
    margin-left: 100px;
}
div.divsiete{
    margin-left: 700px;
    transform: translate(0,-580px);
}
img.imguno{
    height: 50px;
}
img.imgdos{
    height: 50px;
    transform: translate(0,-50px);
}
img.imgtres{
    height: 50px;
    transform: translate(0,-100px);
}
img.imgcuatro{
    height: 50px;
    transform: translate(0,-150px);
}
img.imgcinco{
    height: 50px;
    transform: translate(0,-200px);
}
img.imgseis{
    height: 50px;
    transform: translate(0,-250px);
}
div.divocho{
    margin-left: 700px;
    transform: translate(0,-580px); 
}
p.primero{
    transform: translate(60px,-47px);
}
p.segundo{
    transform: translate(60px,-105px); 
}
p.tercero{
    transform: translate(60px,-157px);
}
p.cuarto{
    transform: translate(60px,-207px);
}
p.quinto{
    transform: translate(60px,-257px);
}
p.sexto{
    transform: translate(60px,-307px);
}
img.barrauno{
    transform: translate(60px,5px);
}
img.barrados{
    transform: translate(75px,-255px);
}
img.barratres{
    transform: translate(55px,-63px);
}
img.barracuatro{
    transform: translate(105px,-113px);
}
img.barracinco{
    transform: translate(75px,-110px);
}
img.barraseis{
    transform: translate(75px,-267px);
}
img.torta{
    height: 25px;
    transform: translate(100px, -1535px);
}
p.fdn{
    margin-left: 35px;
}
p.nrotel{
    margin-left: 35px;
}
p.email{
    margin-left: 35px;
}
img.telefonoo{
    height: 25px;
    transform: translate(75px, -1500px);
}
img.correo{
    height: 25px;
    transform: translate(48px, -1465px);
}
img.musica{
    transform: translate(17px, -1140px);
    height: 25px;
}
img.mando{
    transform: translate(-10px, -1105px);
    height: 25px;
}
img.pelota{
    transform: translate(-39px, -1070px);
    height: 25px;
}
img.viajess{
    transform: translate(-70px, -1039px);
    height: 25px;
}
p.music{
    margin-left: 35px;  
}
p.videog{
    margin-left: 35px;
}
p.sports{
    margin-left: 35px;
}
p.viajes{
    margin-left: 35px;
}